{% extends 'base.html' %}

{% block content %}
    <div class="bg-white p-4 rounded-xl shadow-lg w-full max-w-md">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">비밀번호 확인</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="password" class="block text-gray-700 font-medium mb-2 text-center">Profile을 확인하려면 비밀번호를 입력해주세요</label>
                <input type="password" id="login_pw" name="login_pw" required
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-400">
            </div>
            <button
                type="submit"
                class="w-full bg-purple-500 text-black py-2 rounded-lg hover:bg-purple-600 transition focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-offset-2">
                확인
            </button>
        </form>
    </div>
{% endblock %}
