<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Community{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">

     <!-- SEO Meta Tags -->
    <meta name="description" content="{% block meta_description %}Welcome to LLM Diary - Your personal emotion diary platform.{% endblock %}">
    <meta name="keywords" content="Diary, LLM, Emotion Analysis, Community">
    <meta name="author" content="LLM Diary Team">
    <meta name="robots" content="index, follow">

        <!-- Dark Mode Script -->
    <script>
        if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>

</head>
<body class="bg-gradient-to-br from-blue-50 to-purple-100 min-h-screen flex flex-col">

    <!-- Main Content Wrapper -->
    <div class="flex flex-1">
        <!-- Sidebar -->
       <aside class="w-1/6 bg-white shadow-lg h-screen flex flex-col items-center py-8">
        <!-- Profile Section -->
        <img src="{% static 'images/llmdiary_logo.png' %}" alt="Profile Picture" class="w-40 h-40 shadow-md">
        <h2 class="mt-4 text-xl font-semibold text-gray-800">{{ request.user.name }}</h2>
        <p class="text-sm text-gray-500">역할: {{ request.user.get_role_display }}</p>

        <!-- Navigation Menu -->
        <nav class="mt-10 w-full px-4">
            <ul class="space-y-6">
                {% if user.role == 'admin' %}
                    <li>
                        <a href="{% url 'admin_home' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'home' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'password_check' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'password_check' or request.resolver_match.url_name == 'password_change' or request.resolver_match.url_name == 'password_change_done' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'counsel' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'counsel' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Counsel
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'community_home' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'community_home' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Community
                        </a>
                    </li>
                {% elif user.role == 'customer_support' %}
                    <li>
                        <a href="{% url 'customer_support_home' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'home' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'password_check' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'password_check' or request.resolver_match.url_name == 'password_change' or request.resolver_match.url_name == 'password_change_done' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'counsel' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'counsel' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Counsel
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'community_home' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'community_home' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Community
                        </a>
                    </li>
                {% elif user.role == 'counselor' %}
                    <li>
                        <a href="{% url 'counselor_home' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'counselor_home' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'password_check' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'password_check' or request.resolver_match.url_name == 'password_change' or request.resolver_match.url_name == 'password_change_done' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'counsel' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'counsel' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Counsel
                        </a>
                    </li>
                {% elif user.role == 'user' %}
                    <li>
                        <a href="{% url 'home' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'home' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'password_check' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'password_check' or request.resolver_match.url_name == 'password_change' or request.resolver_match.url_name == 'password_change_done' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'diary' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'diary' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Diary
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'counsel' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'counsel' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Counsel
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'community_home' %}"
                           class="block w-full py-3 px-4 text-center rounded-lg shadow-sm transition
                                  {% if request.resolver_match.url_name == 'community_home' %} bg-purple-100 text-purple-700 font-bold
                                  {% else %} bg-gray-50 text-gray-700 hover:bg-purple-100 hover:text-purple-700 {% endif %}">
                            Community
                        </a>
                    </li>
                {% endif %}
            </ul>
            <form action="{% url 'logout' %}" method="post" class="flex space-x-2">
                {% csrf_token %}
                <button type="submit" class="flex py-6 text-gray-700 hover:text-red-500">
                    <img src="{% static 'images/logout.png' %}" alt="Logout Icon" class="w-6 h-6">
                </button>
            </form>
        </nav>
    </aside>
        <!-- Main Content -->
        <main class="flex-grow p-8">
        {% if messages %}
        <div id = 'message-container' class="fixed top-5 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 max-w-md w-full px-4">
            {% for message in messages %}
            <div class="rounded-md shadow-lg px-4 py-3 mb-4 text-white text-center
                    {% if message.tags == 'success' %} bg-green-500 {% elif message.tags == 'error' %} bg-red-500 {% elif message.tags == 'info' %} bg-blue-500 {% else %} bg-gray-500 {% endif %}">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        </div>
            <script>
                // 메시지 박스 3초 후 자동 삭제
                setTimeout(() => {
                    const messageContainer = document.getElementById('message-container');
                    if (messageContainer) {
                        messageContainer.style.transition = 'opacity 0.5s';
                        messageContainer.style.opacity = '0';
                        setTimeout(() => messageContainer.remove(), 500); // 애니메이션 후 삭제
                    }
                }, 3000);
            </script>
        {% endif %}
            {% block content %}
            <!-- 페이지별 내용이 여기에 삽입됩니다 -->
            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white text-center p-4">
        <p>&copy; 2024 LLM Diary. All rights reserved.</p>
    </footer>

</body>
</html>